.home {
    padding: 20px;
    text-align: center;
   
}

.servicios-grid {
    color: white; /* Color del texto blanco */
    display: flex;
    flex-direction: column; /* Cambiar a columna para que cada servicio ocupe una fila */
    gap: 20px; /* Espacio entre los servicios */
    align-items: center; /* Centra los elementos dentro de la cuadrícula */
}

.servicio-item {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espacio entre la info y la imagen */
    padding: 30px; /* Aumentar el padding para hacer el contenedor más grande */
    max-width: 1500px; /* Limitar el ancho máximo */
    width: 100%; /* Asegúrate de que el contenedor ocupe el 100% del espacio disponible */
    border: 1px solid #ccc; /* Borde opcional */
    border-radius: 8px; /* Bordes redondeados opcional */
    overflow: hidden; /* Ocultar contenido desbordante */
    background-color: #333333; /* Fondo gris oscuro para los items de servicio */
}

.servicio-imagen {
    flex: 1; /* La imagen ocupará espacio restante */
}

.servicio-imagen img {
    width: 100%; /* La imagen ocupa el 100% del contenedor */
    height: auto; /* Mantener la proporción de la imagen */
}

.servicio-info {
    flex: 2; /* El texto ocupará el doble de espacio que la imagen */
    text-align: left; /* Alinear texto a la izquierda */
}

/* Aumentar el tamaño del texto */
.servicio-info h3 {
    font-size: 75px; /* Tamaño del título */
}

.servicio-info p {
    font-size: 25px; /* Tamaño de los párrafos */
}